name: Deploy buy runner

on:
  push:
    branches: [ "master", "main" ]
jobs:
  test:
    runs-on: macos-latest
    steps: 
      - name: cd into repo 
        uses: actions/checkout@v3 
      - name: set up Java and Maven # Настраиваем Java и Maven.
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: run tests
        run: mvn test 
  deploy:
    runs-on: self-hosted
    needs: test
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: prepare environment
        run: |
          docker-compose down
          docker system prune -a -f
      - name: docker-compose deploy
        run: docker-compose up -d

